[submodule "external/donut"]
	path = external/donut
	url = https://github.com/NVIDIA-RTX/Donut.git
[submodule "external/lodepng"]
	path = external/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "libraries/RTXTF-Library"]
	path = libraries/RTXTF-Library
	url = ../RTXTF-Library.git
[submodule "libraries/RTXNTC-Library"]
	path = libraries/RTXNTC-Library
	url = ../RTXNTC-Library.git
[submodule "libraries/RTXTS-TTM"]
	path = libraries/RTXTS-TTM
	url = ../RTXTS-TTM.git
[submodule "external/implot"]
	path = external/implot
	url = https://github.com/epezent/implot.git
[submodule "external/optix"]
	path = external/optix
	url = https://github.com/NVIDIA/optix-dev.git
